$Liberte: #A9A9A9;

.blm-text {
    color: $Liberte;
}

// .enterShow-col {
//     flex: 1 0 17.666667%;
//     max-width: 22.666667%;
// }

@media only screen and (max-width:991px) {


    #blmIMG {
        vertical-align: top;
        border: 0;
        height: 213px;
        width: auto;
    }

    #entr-btn {
        margin: 0px -307px;
        width: auto;
        margin-right: auto;

    }

    #blm-heart {
        margin: -2px 65px;
        width: auto;
        margin-right: auto;
    }

    .localText {
        display: none;
    }

    .blm-local {

        margin-top: 218px;
        font-size: 16px;
        width: auto;
        margin-right: auto;
        margin-left: -164px;
    }

    .blm-des {
        margin-top: 391px;
        font-size: 27px;
        width: auto;
        margin-right: 12px;
        margin-left: -302px;

    }

    #blm-description {
        order: 2 !important;
    }

    #blm-image {
        order: 1 !important;
        margin: 0 25px;
    }

}
