.modal-title{
    margin: auto;
}

.swal-text {
    font-size: 16px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    color: rgba(0,0,0,.64);
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
}


.swal-button{
    background-color: #9370Db  ;
  
}

.swal-button--confirm:hover{
    background-color:  #9381FF !important;
}

.form-group.required 
.control-label:after {
    content:"*";color:red;
}

.recaptcha{
   display: flex;
   justify-content: center;
}