@import "~bootstrap/scss/bootstrap";
$font-size-base: 0.9rem !default; 
.navbar{
   font-size: 20px;
  
}
body{

        font-family: 'Poppins',sans-serif;

}
.primary-color{
    color: #8d18b4;
    
}