#headDiv {
    background-color: grayscale($color: #f8f9fa);
}

#about{

    padding-bottom: .02px;
}	

@media only screen and (max-width:1024px){
     #second {
         order: 2!important;
     }
  #first {
        order: 1!important;
     }
}

.img-fluid{

    box-shadow: 5px 10px 18px #888888;
 }
