.description-text {
     width: 75%; 
}

#first {
    margin-bottom: 50px;
}

.about-img {
    box-shadow: 5px 10px 18px #888888;
 }

 #aboutParent {
    padding-bottom: 100px;
 }
 #graphic-design{margin-top: 53px;}
 #illustrations,#photoshoots{ margin-top: 250px;}

@media only screen and (max-width:991px) {
    .studio-text  { font-size: 20px; width: auto; }
    .studio-name  { text-align: center; font-size: 30px;  }
    
    .description-text { 
        font-size: 20px; 
        text-align: center; 
        width: auto; 
        padding: 0 20px;
    }
    .description-title{
        text-align: center;
        font-size: 2rem;
    }

    #second {
        order: 2!important;
    }
    #first {
        order: 1!important;
        margin: 0 25px;
     }
    #graphic-design,#illustrations,#photoshoots{margin-top: 0;}
    
}
