@import "~react-image-gallery/styles/scss/image-gallery.scss";
.gallery{
    margin-top: 200px;
}

.gallery-row{ margin-bottom: 50px;}
.image-container .img-description {
    position: absolute;
    top: 0;
    width: 310px;
    height: 380px;
    display: none;
   opacity: 80%;
    font-size: 30px;
    border-radius: 1%;

}


  .img-gallery span {
  
    position: relative; 
    margin-top: 150px;
    color: #FFF;
    font-size: 20px;
    display: inline-block;
    padding: 0px 20px;

  }


  
.image-container:hover .img-description {
    display: block;
    background: #4F3A65;
}


.exit-btn {
    background-color: #F9F8FD;
    color:rgb(0, 0, 0);
    width: 100%;

    font-weight: bold;
    &:hover {
        color: #8d18b4
    }
}




@media only screen and (max-width:1024px){
 
.image-container .img-description {
    position: absolute;
    top: 0;
    width: 209px;
    height: 257px;
    display: none;
   opacity: 80%;
    font-size: 30px;
    border-radius: 1%;

}

.image-container:hover .img-description {
    display: block;
    background: #4F3A65;
}



.img-gallery span {
  
    position: relative; 
    margin-top: 50px;
    color: #FFF;
    font-size: 15px;
    display: inline-block;
    padding: 0px 20px;

  }
}
@media only screen and (max-width:768px) {
    .image-container .img-description {
        position: absolute;
        top: 0;
        width: 310px;
        height: 380px;
        display: none;
       opacity: 80%;
        font-size: 30px;
        border-radius: 1%;
    
    }
    .img-gallery span {
  
        position: relative; 
        margin-top: 150px;
        color: #FFF;
        font-size: 20px;
        display: inline-block;
        padding: 0px 20px;
    
      }
    .image-container:hover .img-description {
        display: block;
        background: #4F3A65;
    }
    }

    @media only screen and (max-width:754px) {
        .image-container .img-description {
            position: absolute;
            top: 0;
            width: 310px;
            height: 380px;
            display: none;
           opacity: 80%;
            font-size: 30px;
            border-radius: 1%;
        
        }
        .img-gallery span {
      
            position: relative; 
            margin-top: 150px;
            color: #FFF;
            font-size: 20px;
            display: inline-block;
            padding: 0px 20px;
        
          }
        .image-container:hover .img-description {
            display: block;
            background: #4F3A65;
        }

        .gallery-row{ margin-left: 64px; margin-bottom: 50px;}

      
    }